* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
  }
  
  
  .grid-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid {
    align-items: center;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    height: 600px;
    width: 600px;
  }
  
  .grid div {
    border: 1px solid rgb(243, 243, 243);
    flex-grow: 1;
    color: rgb(243, 243, 243);
    /* height: 10%;
    width: 10%; */
  }
  
  .grid div.topLocations {
    background-color: lightgray
  }

  .grid div.startLine {
    background-color: purple;
    border-color: purple;
    color: purple;
  }

  .grid div.topRow {
    visibility: hidden;
  }

  .grid div.secondTopRow {
    background-color: greenyellow;
    border-color: greenyellow;
    color: greenyellow;
  }

  .grid div.middleRow {
    background-color: purple;
    border-color: purple;
    color: purple;
  }

  .grid div.rightBorder {
   visibility: hidden;
  }

  .grid div.leftBorder {
    visibility: hidden;
   }
 
  .grid div.frogger{
    background-color: green;
    color: green;
    z-index: 3;
    position: relative;
  }

  .grid div.icon {
    background-color: green;
  }

  .grid div.car {
    background-color:grey;
    color: gray;
    border-color: transparent;
  }

  .grid div.log  {
    background-color: brown;
    color: brown;
    border-color: transparent;
    z-index: 1;
    position: relative;
  }

  .grid div.turtle {
    background-color: red;
    color: red;
    border-color: black;
  }


